*{
    margin: 0px;
    padding: 0px;
}

.div__principal{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 8.9fr 0.1fr;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: url(assets/Contenido/BackgroundH.jpg);
    background-size: contain;
}
.encabezado{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(6,1fr); 
    align-items: center;   
    width: 100%;
    background-color: rgba(118, 54, 44, 0);
    background-image: linear-gradient(rgba(128, 128, 128, 0), );
}
.encabezado__logo{
    grid-column: 1/4;
    padding: 5px;
}
.encabezado__nav{
    display: flex;
    flex-wrap: nowrap;
    grid-column: 4/7;
}
.navegador{
    list-style: none;
    }
.bar__link{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.bar__link:hover{
    background-color: rgb(255, 230, 0);
}
.bar__link--name{
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    font-family: Arial, sans-serif;
}
.toggle__color{
    color: white;
}
.principal{
    grid-area: main;
    display: flex;
    flex-wrap: nowrap;
}
.principal__section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.section__title{
    text-align: center;
    font-size: 3em;
    font-family: Arial, sans-serif;
    color: white;
}
.index__text{
    text-align: left;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 2em;
    padding-left: 10px;
}

.redes__search{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search__link{
    margin-left: 4px;
    margin-right: 4px;
    list-style: none;
}
.search__link--logo{
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    margin: 0px;
}
.footer__text{
    font-size: 1.25em;
    color: rgb(255, 255, 255);
}
/* CSS INDEX COMPLEMENTOS */
#principal__index{
    justify-content: space-evenly;
}
.index__imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.index__imagen--size{
    height: 400px;
    width: 40   0px;
}
/*En caso de necesitar agregar algo en ese espacio 
.aside__index{
    grid-area: aside;
} */

/* CSS MENU COMPLEMENTOS */
#principal__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    grid-column: 1/4
}
.menu__imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.menu__imagen--size{
    width: 400px;
    height: 400px;
}
.menu__title{
    text-align: center;
    font-family: "arial", sans-serif;
    font-size: 40px;
    color: white;

}
.menu__card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.card-body{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.13), rgba(255, 255, 255, 0.021));
}
.card-title{
    color: white;
}
.card-text{
    color: rgb(255, 255, 255);
}
.card__imagen{
    height: 100px;
}
/* CSS COMPLEMENTO REVIEW */
.principal__review{
    display: flex;
    justify-content: center;
    align-content: center;
}
.review__card{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card-title-review{
    color: rgb(0, 0, 0);
}
.card-text-review{
    color: rgb(0, 0, 0);
}
/* CSS COMPLEMENTO ABOUT US */
.div__principal--aboutus{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 8.9fr 0.1fr;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
.aboutus__imagen{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.principal__aboutus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section__aboutus{
    align-items: flex-end;
    padding-right: 40px;
}
#aboutus__text{
    text-align: right;
}
/* CSS COMPLEMENTO CONTACT */
.principal__contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact__button{
    border-radius: 10px;
}
.contact__imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.contact__imagen--size{
    height: 100px;
    width: 100px;
}
.contactos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.contacto__nombre{
    font-size: 1.75em;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.contacto__contenido{
    font-size: 1.25em;
    color: white;
    text-align: center;
}
@media only screen and (max-width:992px){
.div__principal{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr auto 0.1fr;
    background-color: rgb(0, 0, 0);
    }
    .principal{
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
.index__imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.index__imagen--size{
    height: 200px;
    width: 200px;
}
}
@media only screen and (max-width:750px) {
.div__principal--index{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 0.5fr auto 0.1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    background-image: linear-gradient(to bottom, black, rgb(41, 41, 41)); 
}
.encabezado{
        grid-template-areas: 
        "logo nav nav";
        grid-template-columns: repeat(2,2fr 1fr);
}
.encabezado__logo{
    grid-area: logo;
}
.encabezado__nav{
    grid-area: nav;
}
.bar__link{
    display: flex;
    flex-direction: column;
    padding:0px;
    margin: 0px;
    border: none
}
.bar__link--name{
    font-size: 1em;
}
.section__text{
    font-size: 1.5em;
}
.index__imagen--size{
    height: 50px;
    width: 50px;
}
#index__text{
    padding: 10px;
}
.div__principal{
    height: auto;
}
footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.footer__text{
    font-size: 1em;
}
#principal__menu{
    flex-wrap: wrap;
}
.menu__imagen{
    display: none;
}
.menu__title{
    font-size: 25px;
}
.menu__card{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.menu__img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
}